/* Colors */
.primary-color {
  color: #007bff;
}
.grey {
  color: #6e6e6e;
}
.brown {
  color: #a56b28;
}
.green {
  color: #269226;
}
.red {
  color: #e23131;
}

h1 {
  /* Override the bootstrap h1 size */
  font-size: 70px !important;
}
.icon i {
  font-size: 80px;
  color: #007bff;
}
